.container {
    max-width: 800px;
}

/* Home Animation */
.glowing span:before {
    width: 200px;
    height: 200px;
}

/* Services */

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Newsltter */
.newsletter-content {
    grid-template-columns:0.8fr 1.5fr 1fr;
}

/* Post.view */

.posts-container {
    grid-template-columns: 1fr;
}

 .posts-list {
    display: none;
 }