.container {
    max-width: 850px;
}

/* Home Animation */
.glowing span:before {
    width: 200px;
    height: 200px;
}

/* Newsltter */
.newsletter-content {
    grid-template-columns:0.8fr 2fr 1fr;
}