@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root{
    --primary-color: #25262a;
    --secondary-color: rgb(226, 189, 21);
    --secondary-color-hover: rgb(247, 206, 27);
    --primary-text-color: #ffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'DM Sans', sans-serif;
    background-color: var(--primary-color);
}

header {
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: center;
}

.secction{
    width: 1300px;
}

header .container{
    display: flex;
    height: 80px;
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1b;
}

header .container .menu{
    display: flex;
    align-items: center;
}

header .container .menu a{
    line-height:0
}

header .container .menu a img{
    height: 50px;
}

header .container .menu ul{
    display: flex;
    margin-left: 20px;
    list-style: none;
}

header .container .menu ul li{
    margin: 0 20px;
}

header .container .menu ul li a{
    text-decoration: none;
    color: var(--primary-text-color);
}

header .container .menu ul li a:hover{
    color: var(--secondary-color);
}

header .container .contactame ul{
    list-style: none;
}

header .container .contactame ul li a{
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 15px;
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

header .container .contactame ul li a:hover{
    background-color: var( --secondary-color-hover);
}

main {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
}

main .index-container{
    display: flex;
}


.photo img{
    width: 400px;
}