@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color: #232327;
    --primary-color-b: rgb(45 46 50);
    --secondary-color: rgb(226, 189, 21);
    --secondary-color-hover: rgb(247, 206, 27);
    --primary-text-color: #ffff;
    --secondary-text-color: #53ca8e;

    --font-zise-primary: 18px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primary-button{
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.primary-button:hover{
    background-color: var(--secondary-color-hover);
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
}

header {
    position: fixed;
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: center;
    background-color: var(--primary-color);
}

.section{
    width: 1300px;
}

header .container{
    display: flex;
    height: 80px;
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
}

header .container .menu{
    display: flex;
    align-items: center;
}

header .container .menu a{
    font-size: var(--font-zise-primary);
    line-height:0
}

header .container .menu a img{
    height: 50px;
}

header .container .menu ul{
    display: flex;
    margin-left: 20px;
    list-style: none;
}

header .container .menu ul li{
    margin: 0 20px;
}

header .container .menu ul li a{
    text-decoration: none;
    color: var(--primary-text-color);
}

header .container .menu ul li a:hover{
    color: var(--secondary-color);
}

header .container .contactame ul{
    list-style: none;
}

header .container .contactame ul li a{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

header .container .contactame ul li a:hover{
    background-color: var( --secondary-color-hover);
}

main {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}

main .index-container{
    margin-top: 60px;
    display: grid;
    height: 590px;
    padding: 0 20px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.index-container-text{
    padding: 0 20px;
}

.index-container-text h1{
    font-size: 44px;
    color: var(--primary-text-color);
}

.index-container-text h1:nth-child(2){
    margin-bottom: 12px;
    color: var(--secondary-text-color);
}

.index-container-text p{
    font-size: var(--font-zise-primary);
    margin-bottom: 32px;
    font-weight: 200;
    color: var(--primary-text-color);
}

.index-container-text p span{
    font-weight: 500;
}

.index-container-text a{
    text-decoration: none;
}

.index-container-photo{
    display: grid;
    place-content: center;
}


.index-container-photo img{
    width: 500px;
}

.qh-section{
    width: 100%;
    height: auto;
    background-color: var(--primary-color-b);
}

.qh-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 60px auto;
}

.qh-container-skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 0 40px;
}

.qh-container-skills .skills-card{
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 250px;
    border-radius: 24px 0 24px 0;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
}

.qh-container-skills .skills-card .icon-1{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    background-image: url('../assets/icon/web-design.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.qh-container-skills .skills-card .icon-2{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    background-image: url('../assets/icon/ui-design.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.qh-container-skills .skills-card .icon-3{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    background-image: url('../assets/icon/graphic-design.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.qh-container-skills .skills-card .icon-4{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    background-image: url('../assets/icon/product-design.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.qh-container-skills .skills-card h1{
    text-align: center;font-size: var(--font-zise-primary);
    color: var(--primary-text-color);
    font-weight: 400;
}

.qh-container-text{
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    justify-content: center;
}

.qh-container-text h1{
    color: var(--secondary-text-color);
    margin-bottom: 22px;
    font-size: 34px;
}

.qh-container-text p{
    font-weight: 200;
    margin-bottom: 32px;
    font-size: var(--font-zise-primary);
    color: var(--primary-text-color);
}

.qh-container-text a{
    width: 200px;
    text-decoration: none;
    color: var(--primary-color);
}

.blog-section{
    display: flex;
    flex-direction: column;
    padding: 60px 40px;
}

.blog-section a{
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 200;
}

.blog-section .blog-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.blog-container .blog-container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-container .blog-container-text h1{
    margin-bottom: 22px;
    font-size: 34px;
    color: var(--secondary-text-color);
}

.blog-container .blog-container-text p{
    font-size: var(--font-zise-primary);
    color: var(--primary-text-color);
    font-weight: 200;
}

.blog-container .blog-container-text p a{
    color: var(--secondary-text-color);
}

.blog-container-img{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog-container-img span{
    display: flex;
    height: 250px;
    width: 450px;
    border-radius: 15px;
    background-color: #53ca8e36;
    transform: rotate(-20deg);
}

.blog-container-img img{
    position: absolute;
    width: 450px;
    border-radius: 15px;
}
