@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color: #232327;
    --primary-color-b: rgb(45 46 50);
    --secondary-color: rgb(226, 189, 21);
    --secondary-color-hover: rgb(247, 206, 27);
    --primary-text-color: #ffff;
    --secondary-text-color: #53ca8e;

    --font-zise-primary: 18px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primary-button{
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.primary-button:hover{
    background-color: var(--secondary-color-hover);
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
}

header {
    position: fixed;
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: center;
    background-color: var(--primary-color);
    z-index: 10;
}

.section{
    width: 1200px;
    margin: auto;
}

header .container{
    display: flex;
    height: 80px;
    padding: 0 25px;
    justify-content: space-between;
    align-items: center;
}

.container-secondary{
    justify-content: center !important;
}

header .container .menu{
    display: flex;
    align-items: center;
}

header .container .menu a{
    font-size: var(--font-zise-primary);
    line-height: 0;
    text-decoration: none;
}

header .container .menu a img{
    height: 50px;
}

header .container .menu ul{
    display: flex;
    margin-left: 20px;
    list-style: none;
}

header .container .menu ul li{
    margin: 0 20px;
}

header .container .menu ul li a{
    text-decoration: none;
    color: var(--primary-text-color);
}

header .container .menu ul li a:hover{
    color: var(--secondary-color);
}

header .container .contactame ul{
    list-style: none;
}

header .container .contactame ul li a{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

header .container .contactame ul li a:hover{
    background-color: var( --secondary-color-hover);
}

main {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}

main .index-container{
    /* margin-top: 60px; */
    display: grid;
    height: 590px;
    padding: 0 20px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.index-container-text{
    padding: 0 20px;
}

.index-container-text h1{
    font-size: 44px;
    color: var(--primary-text-color);
}

.index-container-text h1:nth-child(2){
    margin-bottom: 12px;
    color: var(--secondary-text-color);
}

.index-container-text p{
    font-size: var(--font-zise-primary);
    margin-bottom: 32px;
    font-weight: 200;
    color: var(--primary-text-color);
}

.index-container-text p span{
    font-weight: 500;
}

.index-container-text a{
    text-decoration: none;
}

.index-container-photo{
    display: grid;
    place-content: center;
}


.index-container-photo img{
    width: 500px;
}

.qh-section{
    width: 100%;
    height: auto;
    background-color: var(--primary-color-b);
}

.qh-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 60px auto;
}

.qh-container-skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 0 40px;
}

.qh-container-skills .skills-card{
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 250px;
    border-radius: 24px 0 24px 0;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
}

.qh-container-skills .skills-card .icon-1{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    background-image: url('../assets/icon/web-design.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.qh-container-skills .skills-card .icon-2{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    background-image: url('../assets/icon/ui-design.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.qh-container-skills .skills-card .icon-3{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    background-image: url('../assets/icon/graphic-design.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.qh-container-skills .skills-card .icon-4{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    background-image: url('../assets/icon/product-design.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.qh-container-skills .skills-card h1{
    text-align: center;font-size: var(--font-zise-primary);
    color: var(--primary-text-color);
    font-weight: 400;
}

.qh-container-text{
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    justify-content: center;
}

.qh-container-text h1{
    color: var(--secondary-text-color);
    margin-bottom: 22px;
    font-size: 34px;
}

.qh-container-text p{
    font-weight: 200;
    margin-bottom: 32px;
    font-size: var(--font-zise-primary);
    color: var(--primary-text-color);
}

.qh-container-text a{
    display: flex;
    width: 200px;
    text-decoration: none;
    color: var(--primary-color);
    justify-content: center;
    align-items: center;
}

.blog-section{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
}

.blog-section a{
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 200;
    margin-bottom: 50px;
}

.blog-section .blog-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
}

.blog-container .blog-container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-container .blog-container-text h1 a{
    margin-bottom: 22px;
    font-size: 34px;
    font-weight: bold;
    color: var(--secondary-text-color);
}

.blog-container .blog-container-text p{
    font-size: var(--font-zise-primary);
    color: var(--primary-text-color);
    font-weight: 200;
}

.blog-container .blog-container-text p a{
    color: var(--secondary-text-color);
}

.blog-container-img{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog-container-img span{
    display: flex;
    height: 250px;
    width: 450px;
    border-radius: 15px;
    background-color: #53ca8e36;
    transform: rotate(-20deg);
}

.blog-container-img img{
    position: absolute;
    width: 450px;
    border-radius: 15px;
}

.blog-section .pagination{
    position: relative;
    display: flex;
    margin-bottom: 50px;
}

.blog-section .pagination a{
    display: flex;
    position: absolute;
    height: 50px;
    width: 50px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
    background-color: var(--primary-color-b);
    color: var(--primary-text-color);
    align-items: center;
    justify-content: center;
}

.blog-section .pagination a:nth-child(1){
    left: 0;
}

.blog-section .pagination a:nth-child(2){
    right: 0;
}

.form-section{
    width: 100%;
    height: auto;
    background-color: var(--primary-color-b);
}

.form-container{
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    align-items: center;
}

.form-container h1{
    margin-bottom: 22px;
    color: var(--primary-text-color);
}

.form-container h1 span{
    color: var(--secondary-text-color);
}

.form-container form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.form-container form label{
    margin-bottom: 8px;
    font-size: var(--font-zise-primary);
    color: var(--primary-text-color);
}

.form-container form div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 20px;
}

.form-container form div input{
    height: 50px;
    width: 100%;
    margin: 16px 0;
    padding: 20px;
    border-radius: 16px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: var(--font-zise-primary);
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

.form-container form textarea{
    height: 150px;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 26px;
    padding: 20px;
    border-radius: 16px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: var(--font-zise-primary);
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    /* overflow: scroll; */
    resize: none;
}

.form-container form textarea:focus, input[type]:focus, .form-container form input:focus, input[type]:focus{
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(0, 0, 0, 0.6);
    outline: 0 none;
}

.form-container form button{
    border: none;
    width: 200px;
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-zise-primary);
    cursor: pointer;
}

footer{
    height: 80px;
    width: 100%;
}

.footer-section{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.footer-section p{
    color: var(--primary-text-color);
    font-weight: 200;
}

/* ************Blog************* */

.main-blog{
    padding-top: 100px;
    background-color: var(--primary-color-b);
}

.main-blog .search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-blog .search input{
    height: 50px;
    width: 50%;
    margin: 16px 0;
    padding: 20px;
    border-radius: 16px;
    border: 2px solid var(--primary-color-b);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: var(--font-zise-primary);
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

.main-blog .search button{
    width: 50px;
    height: 50px;
    margin-left: 5px;
    border-radius: 25px;
    border: none;
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.main-blog .blog-section .blog-container .blog-container-img img{
    position: relative;
    width: 350px;
}

.main-blog .blog-section{
    margin-top: 40px;
    padding: 20px 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.068);
}

/* **********pagination************ */

.pagination-section{
    margin: 30px 0;
}

.pagination-section ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

.pagination-section ul li{
    display: grid;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    background-color: #232327;
    border: 1px solid white;
    color: white;
    place-content: center;
    cursor: pointer;
}

.pagination-section ul .disabled{
    background-color: var(--primary-color-b);
    cursor: not-allowed;
}

.pagination-section ul .active{
    background-color: var(--secondary-text-color);
}

.pagination-section ul li a{
    display: grid;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: var(--primary-text-color);
    place-content: center;
}

/* **************Post************** */

.post-title{
    margin-top: 50px;
    margin-bottom: 20px;
    padding-left: 30px;
}

.post-section h1{
    color: var(--secondary-text-color);
    margin-bottom: 20px;
    line-height:0;
}

.post-section small{
    color: var(--primary-text-color);
    font-weight: 100;
}

.post-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    padding-left: 30px;
    justify-items: center;
}

.post-container-text p{
    display: flex;
    color: var(--primary-text-color);
    font-weight: 200;
}

.post-container-img img{
    width: 500px;
    border-radius: 20px;
}


.error h1{
    color: var(--secondary-text-color);
}

.error p{
    color: var(--primary-text-color);
}

/**************FORMULARIO LOGIN****************/

.container-login{
    background-color: var(--primary-color);
    margin: 60px 0 70px 0;
}

.container-login form{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
}

.container-login form h1{
    font-size: var(--font-zise-primary);
    font-weight: 300;
    color: var(--primary-text-color);
    margin-bottom: 12px;
}

.container-login form .form-group{
    display: flex;
    width: 350px;
    margin-bottom: 12px;
    justify-content: center;
}

.container-login form .form-group input{
    width: 300px;
    height: 35px;
    border-radius: 15px;
    padding: 0 10px;
    border: none;
}

.container-login form .form-group button{
    width: 300px;
    height: 35px;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    background-color: var(--secondary-text-color);
    color: white;
    cursor: pointer;
}

.container-login form .form-group button:hover{
    background-color: #48b37d;
}

.container-login p{
    display: flex;
    margin-bottom: 50px;
    font-size: 14px;
    color: var(--primary-text-color);
    justify-content: center;
}

.container-login p a{
    margin-left: 10px;
    color: var(--secondary-text-color);
}

/*********************INDEX ADMIN********************/

.search-admin{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.search-admin .search-cont input{
    width: 500px;
}

header .container .logout-button ul li a {
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 15px;
    font-weight: 300;
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    border: solid 1px #dd3a3a;
}

header .container .logout-button ul li a:hover{
    background-color: #c43535;
}

form .add-button{
    display: grid;
    width: 155px;
    height: 42px;
    margin-right: 20px;
    border-radius: 15px;
    border: none;
    color: var(--primary-text-color);
    background-color: #48b37d;
    cursor: pointer;
    place-content: center;
    text-decoration: none;
}

form .add-button:hover{
    background-color: #3c9b6b;
}

.blog-section-admin{
    padding: 5px 0 5px 0;
    border-top: solid 1px rgba(95, 94, 94, 0.534);
    border-bottom: solid 1px rgba(95, 94, 94, 0.534);
    padding: 5px 10px 5px 10px;
    background-color: var(--primary-color);
}

.blog-section-admin:hover{
    background-color: var(--primary-color-b);
}

.blog-container-admin{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-section-admin .blog-container-text h1 a{
    font-size: var(--font-zise-primary);
    font-weight: 300;
    text-decoration: none;
    color: var(--primary-text-color);
}

.blog-section-admin .blog-container-icon a:nth-child(1){
    color: #adadad;
}

.blog-section-admin .blog-container-icon a:nth-child(2){
    color: rgb(138, 86, 86);
}