@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.container{
    position: relative;
    width: 75%;
    height: 65vh;
    margin: auto;
    padding: 16px;
}

h1{
    color: rgb(202, 99, 99);
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Silkscreen', cursive;
}

.container .articulo ul{
    list-style: none;
}

.container .articulo ul li{
    margin: 15px 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7d7d7;
    font-size: 18px;
    color: black;
}

/* Estilo a la sección de Paginación */
.paginacion ul{
    position: absolute;
    list-style: none;
    display: flex;
    bottom: 0;
    margin-left: 25px;
    margin-bottom: 16px;
}

.paginacion ul li a{
    text-decoration: none;
    padding: 5px 15px;
    border: 1px solid rgb(136, 211, 255);   
    color: rgb(69, 99, 199);
    background-color: rgb(255, 255, 255);
}

.paginacion ul li .disabled{
    cursor: not-allowed;
    color: rgb(184, 179, 179);
    border: 1px solid rgba(136, 211, 255, 0.61);
}

.paginacion ul .active a{
    background-color: rgb(69, 99, 199);
    border: 1px solid rgb(69, 99, 199);
    color: white;
}